body{
	margin: 0;
	font-family: Helvetica;
}

header{
	background-color: grey;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

}

header h1{
	font-size: 100px;
	color: white;
	font-family: Helvetica;
}

header img{
	width: 700px;
	border: 10px solid white;
}

header p{
	font-size: 30px;
}

h2{
	font-size: 40px;
}

p{
	font-size: 20px;
}

main{
	text-align: center;
	padding: 10px 15px 15px 15px;

}

main img{

	width: 400px;
}

h2{
	background-color: grey;
}

footer{
   background-color: grey;
}

footer {
	text-align: left;
	font-size: 15px;
}

footer a{
	color: white;
}

h4{
	background-color: grey;
	font-size: 30px;
}

h3{
	font-size: 30px;
}









